body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@import "leaflet/dist/leaflet.css";
@import "leaflet-control-geocoder/dist/Control.Geocoder.css";
@import "react-leaflet-markercluster/dist/styles.min.css";                            
@import "leaflet-routing-machine/dist/leaflet-routing-machine.css";
@import "leaflet.awesome-markers/dist/leaflet.awesome-markers.css";
@import "leaflet.awesome-markers/dist/leaflet.awesome-markers.min.css";
@import "leaflet-geosearch/dist/geosearch.css";
@import "leaflet-control-geocoder/dist/Control.Geocoder.css";


@import "leaflet-control-geocoder/dist/Control.Geocoder.css";
@import "react-leaflet-markercluster/dist/styles.min.css";
@import "leaflet-routing-machine/dist/leaflet-routing-machine.css";
@import "leaflet.awesome-markers/dist/leaflet.awesome-markers.css";
@import "leaflet.awesome-markers/dist/leaflet.awesome-markers.min.css";
@import "leaflet-geosearch/dist/geosearch.css";
@import "leaflet-control-geocoder/dist/Control.Geocoder.css";   
